! --------------------------------------------------------------------------------
! xterm config
! --------------------------------------------------------------------------------
 
! xterm*faceName: DejaVu Sans Mono Book:style=Regular:size=11:antialias=true
 xterm*faceName: xft:Hack:style=Regular:size=11:antialias=true
 xterm*fullscreen: never
 xterm*utf8: 1
 xterm*cursorBlink: true
 xterm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
 xterm*selectToClipboard: true

 Xft.dpi: 96.0
 Xft.hinting: true
 Xft.hintstyle: hintslight
 Xft.antialias: true
 Xft.rgba: rgb

! --------------------------------------------------------------------------------
! rofi colors
! --------------------------------------------------------------------------------
 rofi.color-enabled: false
 rofi.color-window: #262626, #262626, #1e2529
 rofi.color-normal: #262626, #c1c1c1, #262626, #bccae2, #262626
 rofi.color-active: #bccae2, #bccae2, #bccae2, #394249, #80cbc4
 rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
 rofi.font:         Liberation Regular 16
 rofi.opacity:      70
 rofi.menu_bw:      0
 rofi.width:        100
 rofi.padding:      460

! --------------------------------------------------------------------------------
! urxvt settings
! --------------------------------------------------------------------------------
 URxvt.jumpScroll: false
 URxvt.font: xft:Terminess Powerline:style=Regular:size=12
 URxvt.scrollBar: false
 URxvt.scrollTtyOutput: false
 URxvt.scrollWithBuffer: true
 URxvt.scrollTtyKeypress: true
 URxvt.internalBorder: 0 
 URxvt.externalBorder: 0
 URxvt.borderLess: false 
 URxvt.cursorUnderline: false
 URxvt.url-launcher: yandex-browser-beta 
 URxvt.cursorBlink: true

! --------------------------------------------------------------------------------
! terminal colors
! --------------------------------------------------------------------------------
! special
*.foreground:   #c5c5c5
*.background:   #1c1c1c
*.cursorColor:  #c5c5c5

! black
*.color0:       #1c1c1c
*.color8:       #666666

! red
*.color1:       #ff005b
*.color9:       #ff00a0

! green
*.color2:       #cee318
*.color10:      #ccff00

! yellow
*.color3:       #ffe755
*.color11:      #ff9f00

! blue
*.color4:       #048ac7
*.color12:      #48c6ff

! magenta
*.color5:       #833c9f
*.color13:      #be67e1

! cyan
*.color6:       #0ac1cd
*.color14:      #63e7f0

! white
*.color7:       #e5e5e5
*.color15:      #f3f3f3

